<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">  
    
    <!-- ROBOTO FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-img">
        <img src="../../../assets/imgs/header-background.png" class="responsive" alt="">
    </div>
    <div class="body">
        <div>
            <p class="p-5 text-white">.</p>
        </div>
        <div class="card text-center">
            <div class="card-body display-inline">
                <h4 class="card-title my-5">Iniciar sesión o crear una nueva cuenta</h4>
                <button class="btn px-4 py-2">Empezar</button>
            </div>
        </div>
        <div>
            <p class="p-5 m-0 text-white">.</p>
        </div>
    </div>
</body>
