<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">  
    
    <!-- ROBOTO FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container square">
        <div class="card text-left">
            <div class="plantGroup " style="max-width: 450px;">
                <div class="row mb-2">
                    <div class="col">
                        <img class="card-img-top mb-2" src="../../../../assets/imgs/imgOval2.png" alt="">
                    </div>
                </div>
                <div class='row container'>   
                    <div class='col-12'>  
                        <canvas  id="myChart" ></canvas> 
                    </div>  
                </div>
                <button class="btn">Volver</button>  
                <button class="btn" [routerLink]="['/monitoring/list']">Volver</button>  
            </div>
            
            <div class="card-body mt-1">
                <h1 class="text-center">{{id}}</h1>
                <div class="mb-2" *ngFor="let update of updates">
                    <h4 class="card-title">{{update.date | date:'fullDate'}}</h4>
                    <p class="card-text">{{update.description}}</p>
                </div>
                <div class="mb-2">
                    <p >Humedad: {{Humedad}}</p>
                    <p >Temperatura: {{Temp}}</p>
                    <p >Intensidad Solar: {{Luz}}</p>
                    <p >Necesidad de riego: {{Riego}}</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
