body{
    background-image: url('../../../../assets/imgs/circle-background.png');
    padding-bottom: 50px;
}

.square{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.card{
    margin: 0 auto;
    max-width: 900px;
    background-color: hsl(39, 50%, 57%,0.7);
    flex-direction: row;
    font-family:  'Roboto', sans-serif;
    border-radius: 20px;
    padding: 20px;
}
.card-img-top{
    max-height: 190px;
    max-width: 190px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 42px;
    /* border-style: solid; */
}

.plantGroup{
    font-size: 30px;
    display: block;
    text-align: center;
}

button{
    background-color: #3A5219;
    color: white;
    border-radius: 13px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

button:hover{
    color: white;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.card-body{
    margin-left: 30px;
    margin-right: 10px;
    
}
.d{
    max-width: 60%;
}
.card-body p{
    font-size: 20px;
    font-weight: light;
    font-family: 'Roboto', sans-serif;
}

.card-body h4{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.scrl{
    max-height: 50%;
    overflow-y: auto;
}

/* SCROLLER */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #3A5219; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #3A5219;
}
