.navbar{
    background-color: #75A72F;
    -webkit-box-shadow: 0 8px 6px -6px rgb(117, 117, 117);
    -moz-box-shadow: 0 8px 6px -6px rgb(117, 117, 117);
    box-shadow: 0 8px 6px -6px rgb(117, 117, 117);
}

.nav-link{
    color: black;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover, .nav-item:hover{
    background-color: #8ebe4b;
}

.navbar {
    padding: 0 0;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.iconNav{
    font-size: 50px;
}

.iconLogout{
    font-size: 55px;
    color: black;
}

.iconLogout:hover{
    font-size: 55px;
    color: white;
}

.active{
    color: white;
    background-color: #3A5219;
    border-bottom-style: solid;
    border-bottom-width: 8px;
    border-bottom-color: white;
    
}

.active:hover{
    background-color: #26380e;
}
