body{
    background-image: url('../../../assets/imgs/circle-background.png');
}

.square{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin-top: 50px;
}

.card{
    margin: 0 auto;
    max-width: 900px;
    background-color: hsl(39, 50%, 57%,0.7);
    flex-direction: row;
    font-family:  'Roboto', sans-serif;
    border-radius: 20px;
}
.card-img-top{
    max-height: 190px;
    max-width: 260px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* border-style: solid; */
}

.btnGroup button{
    font-size: 30px;
    display: block;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.card-body p{
    font-size: 20px;
    font-weight: light;
    font-family: 'Roboto', sans-serif;
}

.card-body h4{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.btnAdd{
    background: #82AB48;
    border-radius: 20px;
    font-size: 30px;
}